@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background-color: black;
    font-family: "VT323", monospace;
    font-size: 50px;
    pointer-events: none;
    user-select: none;
    overflow: hidden;
    cursor:none
}

.main{
    color: white;
    gap: 30px;
}

.button{
    border: 1PX RED solid;
    border-radius: 3px;
    background-color: black;
    font-family: "VT323", monospace;
    font-size: 10px;
    font-weight: 1;
    color: white;
    padding: 5px;
}

#score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "VT323", monospace;
    font-size: 50px;
    color: white;

 
}

#enemies {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "VT323", monospace;
    font-size: 20px;
    color: white;
}
.gun{
    height: 32px;
    width: 80px;
    position: absolute;
    pointer-events: none;
    user-select: none;
    cursor: none;
    
}

.blast{
    width: 35px;
    height: 22px;
    position: absolute;
    pointer-events: none;
    user-select: none;
    transform: rotate(-90deg);
 
}

.enemy{
    width: 40px;
    height: 40px;
    position: absolute;
    pointer-events: none;
    user-select: none;

}

.explosion{
   width: 70px;
   height: 70px;
   mix-blend-mode: screen;
}